{#
    This is an example for page-layout-main customisation.
    Twig cannot be extended, but must be owned.
    So this file is placed in "the same position" (folder structure is the same - look at twig docs for more)
    as the spryker-shop one, therefore the former overrides the latter.

    Copy-paste the code from "spryker-shop page-layout-main" to have the strucure and customise it.
    Replace this content with your own one to change it completely.
#}

{% extends template('page-blank') %}

{%- block class -%}js-page-layout-main__side-drawer-container{%- endblock -%}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block sidebar %}
        {#
            using a new component based on an existing one
        #}
        {% include organism('new-existing-component-side-drawer') with {
            class: 'is-hidden-lg-xl',
            attributes: {
                'container-selector': 'js-page-layout-main__side-drawer-container',
                'trigger-selector': 'js-page-layout-main__side-drawer-trigger'
            }
        } only %}
    {% endblock %}

    {% block outside %}{% endblock %}

    {% block header %}
        {% embed organism('header') only %}
            {% block mobile %}
                <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                    {% include atom('icon') with {
                        modifiers: ['big'],
                        data: {
                            name: 'bars'
                        }
                    } only %}
                </a>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    <div class="container">
        {% block pageInfo %}
            <div class="box">
                {% block breadcrumbs %}
                    {% include molecule('breadcrumb') only %}
                {% endblock %}

                <hr />

                {% block title %}
                    <h3>{{data.title}}</h3>
                {% endblock %}
            </div>
        {% endblock %}

        <main>
            {#
                using a new component
            #}
            {% include molecule('new-component-counter') with {
                modifiers: ['big'],
                data: {
                    name: 'Looking for a tags',
                    description: 'How many links are in this page?'
                },
                attributes: {
                    'element-selector': 'a'
                }
            } only %}

            {% block content %}{% endblock %}
        </main>

        {% block footer %}
                {% include organism('footer') only %}
        {% endblock %}

        {% block copyright %}
            <p class="text-center text-small text-secondary">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>Aenean commodo ligula eget dolor. Aenean massa.
                <br>&copy; ACME Company
            </p>
        {% endblock %}
    </div>

    {% block icons %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
