{% extends template('page-layout-main') %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div>
                {{ product['id_product_abstract'] ~ ' - ' }}
                {{ product['abstract_name'] ~ ' - ' }}
                {{ product['url'] ~ ' - ' }}
                {{ product['price'] ~ ' - ' }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
