{% extends template('page-layout-main') %}

{% define data = {
    helloWorld: _view.helloWorld
} %}

{% block content %}
    <div>
        <div>
            <h2>{{ data.helloWorld }}</h2>
        </div>
    </div>
{% endblock %}
